<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/babbage.css">
    <title>Babbage</title>
</head>
<body>
    <section>
        <h1>Charles Babbage</h1>
    <img src="/img/CharlesBabbage.jpg" alt="Foto de Charles Babbage"height="400px"> 
    <h3> Retrato necrológico de Charles Babbage (1791-1871) publicado en un periódico. </h3>
    <h4> ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- --- -- BIOGRAFIA ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- -------- ---- ---- </h4>

    <article>
<h4>
        Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". <br>
        <p>
         En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres. <br>
         Hay un debate sobre la fecha y lugar de nacimiento de Babbage. En primer lugar, según Dictionary of National Biography seguramente nació en el número 44 de Crosby Row, Walworth en Londres, Inglaterra. En relación a su fecha de nacimiento, The Times publicó que Babbage nació el 26 de diciembre de 1792 pero un sobrino suyo afirmó que fue un año antes, 1791. El registro de la parroquia St. Mary's en Newington establece que Babbage fue bautizado el 6 de enero de 1792, lo cual puede confirmar que hubiese nacido un año antes. </p>
         <p>Babbage intentó encontrar un método por el cual se pudieran hacer cálculos automáticamente por una máquina, eliminando errores debidos a la fatiga o aburrimiento que sufrían las personas encargadas de compilar las tablas matemáticas de la época. Esta idea la tuvo en 1812. <br>
         Tres factores parecieron haberlo motivado: una aversión al desorden, su conocimiento de tablas logarítmicas, y los trabajos de máquinas calculadoras realizadas por Blaise Pascal y Gottfried Leibniz. En 1822, en una carta dirigida a sir Humphry Davy en la aplicación de maquinaria al cálculo e impresión de tablas matemáticas, discutió los principios de una máquina calculadora. Además diseñó un plano de computadoras.</p>
    </h4>
    </article> 