<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Clarke.css">
    <title>Clarke</title>
</head>
<body>
    <section>
        <h1>Edith Clarke</h1>
        <img src="/img/EC1.jpg" alt="Foto de Edith Clarke"height="400px">
        <h3>Fotografía de Edith Clarke (10/2/1883 - 29/10/1959)</h3>
        <article>
            <h4>
                Edith Clarke (10 de febrero de 1883 - 29 de octubre de 1959) fue la primera mujer en ser empleada profesionalmente como ingeniera eléctrica en los Estados Unidos y la primera profesora de ingeniería eléctrica en el país. <br>
                 Fue la primera mujer en entregar un documento en el Instituto Americano de Ingenieros Eléctricos , la primera ingeniera cuya posición profesional fue reconocida por Tau Beta Pi , y la primera mujer nombrada como miembro del Instituto Americano de Ingenieros Eléctricos . <br>
                 Se especializó en análisis de sistemas de energía eléctrica y escribió Análisis de circuitos de sistemas de energía CA.
                 <p>
                 Edith Clarke, una de nueve hijos, nació del abogado John Ridgely Clarke y Susan Dorsey Owings el 10 de febrero de 1883 en el condado de Howard , Maryland.  Después de quedar huérfana a los 12 años, fue criada por una hermana mayor. Usó su herencia para estudiar matemáticas y astronomía en Vassar College , donde se graduó en 1908. <br>

Después de la universidad, Clarke enseñó matemáticas y física en una escuela privada en San Francisco y en Marshall College . Luego pasó algún tiempo estudiando ingeniería civil en la Universidad de Wisconsin-Madison , pero se fue para convertirse en una " computadora " en AT&T en 1912. Computó para George Campbell , quien aplicó métodos matemáticos a los problemas de transmisiones eléctricas de larga distancia.Mientras estaba en AT&T, estudió ingeniería eléctrica en la Universidad de Columbia por la noche.
<br>
En 1918, Clarke se matriculó en el Instituto de Tecnología de Massachusetts y al año siguiente se convirtió en la primera mujer en obtener una maestría en ingeniería eléctrica del MIT. Su tesis en el MIT fue supervisada por Arthur E. Kennelly y se tituló "Comportamiento de una línea de transmisión artificial grumosa cuando la frecuencia aumenta indefinidamente". </p>
<p>
    Edith Clarke fue la primera ingeniera en alcanzar una posición profesional en Tau Beta Pi. En 1948, Clarke fue la primera mujer miembro del Instituto Americano de Ingenieros Eléctricos. <br>
     Fue la primera mujer en ser aceptada como miembro con derecho a voto en el Instituto Estadounidense de Ingenieros Eléctricos.En 1954, recibió el Premio al Logro de la Sociedad de Mujeres Ingenieras (SWE), que le fue entregado por Evelyn Jetter , una de las fundadoras de SWE e inventora del transistor de encendido automotriz, "en reconocimiento a sus muchas contribuciones originales a la teoría de la estabilidad y el análisis de circuitos". <br> Clarke fue seleccionada para su inclusión en Women of Achievement in Maryland History en 1998 y también fue incluida en American National Biography y Notable American Women of the Modern Period.
En 2015, Clarke fue incluido póstumamente en el Salón de la Fama de los Inventores Nacionales .
</p>
            </h4>
        </article>