<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Hopper.css">
    <title>Hopper</title>
</head>
<body>
    <section>
        <h1>Grace Murray Hopper</h1>
        <img src="/img/hopper.jpg" alt="Foto de Grace Hopper"height="400px">
        <h3>Retrato de Grace Murray Hopper</h3>
        <h4> ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- BIOGRAFIA ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- ---- ---- ---- ---- ---- ---- -------- ---- ---- ---- -------- ---- ---- <h4>
            <article><h4>
                Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992) fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue pionera en el mundo de las ciencias de la computación y la primera programadora que utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer compilador para un lenguaje de programación así como también propició métodos de validación. <br>
                Popularizó la idea de los lenguajes de programación independientes de la máquina, lo que derivó en el desarrollo de COBOL, un lenguaje de alto nivel de programación que aún se utiliza. Era conocida por sus amistades como Amazing Grace
                <p>Hopper estudió en varias escuelas privadas para mujeres, y en 1924 ingresó en el Vassar College en Nueva York, donde estudió matemáticas y física, graduándose con honores en 1928. Poco después, obtuvo una beca para cursar una maestría en matemática en la universidad de Yale, donde se graduó en 1930 y obtuvo su doctorado en 1934. <br>
                Le ofrecieron un puesto como asistente en el departamento de matemática del Vassar College, donde permaneció hasta 1943. Mientras tanto, continuó sus estudios en Yale, donde se doctoró en matemática en 1934.</p>
                <p>A lo largo de su vida, recibió numerosos reconocimientos, que incluyen más de 40 doctorados honoris causa, la Medalla Wilbur Lucius Cross de Yale, el rango de capitán en 1973, el de comodoro en 1983 y el de contraalmirante en 1985. Única mujer con el grado de almirante de su país.
                <p>Grace Hooper fue una de las mujeres más influyentes en el ámbito de la informática, aparte de realizar una vida dedicada a su patria. Enfocó sus estudios en mejorar la tecnología norteamericana y, por consiguiente, mundial. El desarrollo de la primera máquina calculadora electromecánica (Mark I, junto con Howard H. Aiken) y la creación del lenguaje COBOL, el cual permitía que gente poco especializada pudiera programar, generaron una base de ayuda y de simplificación para que el mundo de la informática evolucionara.</p>
                </p>
            </h4></article>