body{
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/627/632/978/green-computer-hacking-syntax-highlighting-wallpaper-preview.jpg");
}
h1{
    background-color: rgba(0, 0, 0, 0.338);
   color: rgb(255, 255, 255);
   padding-top: 0%;
   padding-left: 35%;
}
h2{
    background-color: rgba(0, 0, 0, 0.872);
   color: rgb(255, 240, 240);
}
h3{
    background-color: rgba(0, 0, 0, 0.896);
    color: rgb(255, 255, 255);
}
