body{
    background-image: url('https://cdn.wallpapersafari.com/17/74/COnNYz.jpg');
}
h1{
    background-color: rgba(0, 0, 0, 0.338);
   color: rgb(215, 204, 204);
   padding-top: 0%;
   padding-left: 43%;
}
h3{
    background-color: rgba(245, 245, 220, 0.824);
    color: #011;
    padding-top: 0%;
 padding-left: 36%;
}
h2{
    
   color: #011;
   
}
h4{
    background-color: rgba(245, 245, 220, 0.47);
    color: #011;
}

img{
    padding-top: 0%;
 padding-left: 38%;
}

